.header {
  text-align: center;
  padding-top: 10px;
}

.signinForm, .signupForm {
  width: 30%;
  margin: 0 auto;
  padding-top: 10%;
}

.signupForm {
  padding-top: 5%;
}

.signupLink, .signinLink {
  padding-top: 10px;
}

.error {
  color: red;
}

.floatRight {
  float: right !important;
}

.thumbnail {
  cursor: pointer;
}

.albumThumbnailStyle {
  margin: 15px;
  min-height:250px;
  height:300px;
}

.photoThumbnailStyle {
  margin: 15px;
  min-height:250px;
  height:250px;
}

.imgBorder {
  border: 2px solid black;
}

.dashHeaderMarginTop {
  margin-top: 20px;
}

.photoStyle {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.albumUserNameMargin {
  margin: 15px;
}

.newPostButtonMargin {
  margin-top: 10px;
  margin-bottom: 10px !important;
}

.logoutButton {
  border-radius: 4px !important;
}

.logoutButton:hover {
  background-color: #cd4642 !important;
}

.postAuthor {
  margin: 0 !important;
}

.postFooterButton {
  margin: 5px;
}

.commentPanel {
  margin: 20px;
}

.addComment {
  margin: 20px;
}

.addPost {
  width: 50%;
}

.addCommentButton, .addPostButton, .addPostBody {
  margin-top: 10px;
}
